@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

.height {
    height: 620px;
}

.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.imgs {
    height: 300px;
}

